header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgba(147, 147, 147, 0.815);
    border-image: linear-gradient(45deg,rgb(162, 243, 243), rgb(226, 105, 226)) 90;
    border-width: 5px;
    border-style: solid;
    border-top: 0ch;
    border-left: 0ch;
}

li{
    list-style: none;

}

.container{
    width: 95%;
    margin: 1rem;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 0px;

}

.navbar{
    width: 100%;
    height: 1rem;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.nav-branding{
    display: flex;
    font-size: 5rem;
    align-items: baseline;
}

@media(max-width:1280px){
    .container{
        width:100%
    }
}