



button:hover {
   color: rgb(220, 151, 33);
   background-color: black;
}

body {
    position: relative;
    margin-top: 10rem;
    font-size: 16px;
    height: 100vh;
    background-image: url("./sam-balye-k5RD4dl8Y1o-unsplash.jpg");
    background-blend-mode: multiply;
    background-size:contain;
    overflow-y: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overscroll-behavior: none;
    position: relative;

}

.active{
    background-color: rgb(63, 245, 81);
    border: none
}


.active-dislike{
    background-color: rgb(234, 15, 59);
    border: none
}


.buzz {
    color: gold;
    background-color: black;
    border-radius: 10px;
    height: 2rem;
    width: 30%;
    margin:auto
}

.border-box {
    margin: auto;
    margin-bottom: 1rem;
    padding: 1em;
    background-color: rgba(27, 27, 26, 0.922);
    width: 65%;
    backdrop-filter: blur(6px);
    background-origin: border-box;
    border-image: linear-gradient(45deg,rgb(162, 243, 243), rgb(226, 105, 226)) 90;
    border-width: 2px;
    border-style:ridge;
    border-radius: 15px; 
    border-left: 0ch;
    border-right:0ch;
;
} 

div > h3 {
    color: aliceblue;
}

div > p {
    color: orange;
}

