* {
margin: 1rem;
padding: 0;

}



button:hover {
    box-shadow: 0 12px 16em 0 rgb(0, 0, 0, ), 0 17px 50px 0 rgba(0, 0, 0, );
}

body {
    position: relative;
    margin-top: 10rem;
    font-size: 16px;
    height: 100vh;
    background-image: url("./sam-balye-k5RD4dl8Y1o-unsplash.jpg");
    background-blend-mode: multiply;
  background-size:contain;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overscroll-behavior: none;
  position: relative;

}

.active{
    background-color: rgb(63, 151, 245);
}


.active1{
    background-color: rgb(234, 15, 59);
}


.buzz {
    color: gold;
    background-color: black;
    height: 2rem;
}

.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 5rem;
    padding: 1em;
    background-color: #fdf0d6;
}